body {
    background-color: #FFFFFF;
}
h1 {
    color: black;
    margin-top: 10px;
}

.modebar{
    display: none !important;
}

.dashboard-header {
    background-color: white;
}


.dashboard-chart-title {
    font-size: 20px;
    color: #000000;
    text-align: left;
}

.dashboard-sidebar-title {
    font-size: 13px;
    color: #757575;
    text-align: left;
}

.dashboard-chart-subtitle {
    font-size: 13px;
    color: #757575;
    text-align: left;
}


.dashboard-navigation-bar {
    padding-top: 0px;    
    padding-bottom: 10px; 
    padding-left: 0px;   
    padding-right: 0px;   
    margin: 15px;
    border-radius: 10px;
    background-color: white;
}

.dashboard-main-content {
    padding-top: 0px;    
    padding-bottom: 10px; 
    padding-left: 0px;   
    padding-right: 0px;   
    margin: 15px;
    border-radius: 10px;
    background-color: white;
}

.dashboard-sidebar-container {
    padding-top: 20px;    
    padding-bottom: 20px; 
    padding-left: 1%;   
    padding-right: 1%;   

    margin-bottom: 10px;
    margin-left: 1%;

    border: 1px solid black; 
    border-radius: 5px;
    border-color: #CCCCCC;
    background-color: white;
}

.dashboard-chart-container {
    border: 1px solid black; 
    border-radius: 5px;
    border-color: #CCCCCC;
    background-color: white;
}


.maplibregl-ctrl-attrib-inner,.maplibregl-ctrl-attrib-button {
    display: none !important;
}

.chart-title-tooltip:hover {
    text-decoration: underline;
}

.info-icon {
    margin-left: 4px;
    cursor: pointer;
    color: #0d6efd;
}